.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: rgb(32, 32, 32);
  color: #aaaeb4;
  margin-top: 20px;
}
.name {
  font-size: 20px;
  font-weight: 500;
  padding-left: 15px;
}
.input {
  background-color: #dee5f0;
  color: rgb(32, 32, 32);
  width: 100%;
  margin: 0 auto;
  border-radius: 25px;
  height: 40px;
}
.btn {
  border: none;
  padding: 15px;
  margin-top: 10px;
  border-radius: 20px;
  color: rgb(32, 32, 32);
  font-size: 18px;
  background-color: rgb(15, 60, 224);
}
.btn:hover {
  background-color: rgb(0, 55, 254);
}
.div {
  background-color: #aaaeb4;
  margin-bottom: 20px;
}


